# 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [2]:
# 인덱스 지정
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [3]:
# 딕셔너리를 DataFrame 클래스에 전달
scientists = pd.DataFrame({
    'Name':['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-07-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
# 인덱스 지정
scientists = pd.DataFrame(
    data = {'Name':['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-07-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation','Age','Born','Died']
)
print(scientists)

                     Occupation  Age        Born        Died
Rosaline Franklin       Chemist   37  1920-07-25  1958-04-16
William Gosset     Statistician   61  1876-06-13  1937-10-16

In [7]:
# 딕셔너리 -> 데이터들의 순서는 보장하지 않음
# 순서가 보장된 딕셔너리를 전달하려면 OrderedDict

from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name',['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist','Statistician']),
    ('Born' ,['1920-07-25','1876-06-13']),
    ('Died' , ['1958-04-16','1937-10-16']),
    ('Age' , [37,61])
]))

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [9]:
scientists = pd.DataFrame(
    data = {
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-07-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation','Born','Died','Age']
)

In [11]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [12]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [18]:
# index 속성 - 시리즈의 인덱스
print(first_row.index)

print(first_row.index[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation

In [14]:
# values 속성 - 시리즈의 데이터
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [19]:
# keys 메소드
print(first_row.keys())

print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [21]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [23]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

In [ ]:
# 시리즈 메소드
# append, describe, drop_duplicates, equals, get_values, isin, min, max, mean, median, replace, sample, sort_values, to_frame

# 시리즈와 불린 추출 사용하기

In [24]:
# 추출할 데이터의 정확한 인덱스를 모르는 경우
# 특정 조건을 만족하는 값만 추출
scientists = pd.read_csv('../data/scientists.csv')

In [25]:
ages = scientists.Age
print(ages.max())
print(ages.mean())

90
59.125

In [26]:
# 불린 추출 : 평균 보다 나이가 많은 사람들
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [27]:
# 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행
print(ages+ages) # 벡터 + 벡터
print(ages+100) # 벡터 + 스칼라
print(ages + pd.Series([1,100])) # 길이가 다른 벡터

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [28]:
# 역순 정렬
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [29]:
print(scientists[scientists.Age>scientists.Age.mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [30]:
# 스칼라 연산 적용해보기
scientists*2

,Name,Born,Died,Age,Occupation
0,Rosaline FranklinRosaline Franklin,1920-07-251920-07-25,1958-04-161958-04-16,74,ChemistChemist
1,William GossetWilliam Gosset,1876-06-131876-06-13,1937-10-161937-10-16,122,StatisticianStatistician
2,Florence NightingaleFlorence Nightingale,1820-05-121820-05-12,1910-08-131910-08-13,180,NurseNurse
3,Marie CurieMarie Curie,1867-11-071867-11-07,1934-07-041934-07-04,132,ChemistChemist
4,Rachel CarsonRachel Carson,1907-05-271907-05-27,1964-04-141964-04-14,112,BiologistBiologist
5,John SnowJohn Snow,1813-03-151813-03-15,1858-06-161858-06-16,90,PhysicianPhysician
6,Alan TuringAlan Turing,1912-06-231912-06-23,1954-06-071954-06-07,82,Computer ScientistComputer Scientist
7,Johann GaussJohann Gauss,1777-04-301777-04-30,1855-02-231855-02-23,154,MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [31]:
# 열의 자료형 바꾸기
print(scientists.Born.dtype)
print(scientists.Died.dtype)

object
object

In [32]:
# object 타입을 datetime 타입으로 바꾸기
born_datetime = pd.to_datetime(scientists.Born, format='%Y-%m-%d')
print(born_datetime)
died_datetime = pd.to_datetime(scientists.Died, format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [34]:
# 데이터 프레임에 새로운 열로 추가하기
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
scientists.head()

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14

In [36]:
# 시간 계산 (날짜 계산)
scientists['age_days_dt'] = (scientists.died_dt - scientists.born_dt)
scientists.head()

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [37]:
import random
random.seed(42)
random.shuffle(scientists.Age)
print(scientists.Age)

C:\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [38]:
print(scientists.columns)

scientists_dropped = scientists.drop(['Age'],axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [39]:
# 저장하기
names = scientists.Name
names.to_pickle('../output/scientists_names_series.pickle')

scientists.to_pickle('../output/scientists_df.pickle')

In [40]:
# 읽어오기
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle.head())

scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle.head())

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
Name: Name, dtype: object
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   56  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   41         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   77       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   90     Biologist 1907-05-27

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days
4 1964-04-14  20777 days

# CSV 불러오기

In [41]:
# csv로 저장
names.to_csv('../output/scientist_names_series.csv')
# tsv로 저장
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

엑셀파일로 저장하는 법
- 시리즈는 엑셀로 저장 x : to_frame사용
- xls로 저장 : pip install xlwt
    import xlwt
    names_df.to_excel('~.xls')
- xlsx로 저장 : pip install openpyxl
    import openpyxl
    names_df.to_excel('~.xlsx')